.bar{
  fill: steelblue;
}

.bar:hover {
  fill: green;
}

.axis text {
  font: 10px sans-serif;
}


.axis-x path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#tooltip {
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 60px; height: 40px;
  background: white;
  border: 0px;
  color: black;
}
